
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/grafika3d/v17/workspaceFileList.bin
.vs/grafika3d/v17/ipch/AutoPCH/bb97a2344aa1625/APP.ipch
.vs/grafika3d/v17/ipch/AutoPCH/ae2095cabbe81419/APP.ipch
.vs/grafika3d/v17/ipch/AutoPCH/826b1663d1234c9d/MAIN.ipch
.vs/grafika3d/v17/ipch/AutoPCH/814726fda8c2db00/APP.ipch
.vs/grafika3d/v17/ipch/AutoPCH/6028228a12d0f07b/MESSAGE.ipch
.vs/grafika3d/v17/ipch/AutoPCH/4e23928c3c5f698c/APP.ipch
.vs/grafika3d/v17/ipch/AutoPCH/2af0aac7f5381a0f/MATERIAL.ipch
.vs/grafika3d/v17/Browse.VC.opendb
.vs/grafika3d/v17/Browse.VC.db-wal
.vs/grafika3d/v17/Browse.VC.db-shm
.vs/grafika3d/v17/Browse.VC.db
.vs/grafika3d/v17/.wsuo
.vs/grafika3d/FileContentIndex/d2e64507-e835-4d46-b233-34aa1fae4b99.vsidx
.vs/grafika3d/FileContentIndex/75bf894c-ad2e-4361-87a8-f57b05f9a8f7.vsidx
.vs/cmake.db
.vs/CMake Overview
